# Dependências
node_modules/

# Ambiente e Segredos
.env

# Banco de Dados
src/database/*.sqlite

# Relatórios e Scripts Temporários
docs/relatorios/
docs/WIKI_DOCUMENTATION.md
docs/BUG_REPORT.md
scratch/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e Sistema
.vscode/
.idea/
Thumbs.db
.DS_Store
